/* The sidenav */

.main {
  margin-left: 20px; 
  margin-right: 20px;
  margin-top: 15px;
  
}

@media screen and (max-height: 450px) {
  
}
#header, #footer{
	
	background-color: #1D9FF0;
	color: #000000;
	font-size: x-large;
	font-weight: bold;
	
}

#header {
	width: 100%;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	display: inline-block;
}

#footer {
	bottom: 0;
	width: 100%;
	margin-bottom: 0;
	margin-left: 0;
	display: inline-block;
}

/* formatting css */

#content {
	color: #2d5e31;
	background-color: #ffffff;
}



a:link {
	color: #db6bb0;
}

a:visited {
  color: #a984ab;
}

a:active {
  color: #db6bb0;
}

.center {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.bold {
	font-weight: bold;
}

.fretboard {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
	/*display: table-column; */
	margin-left: auto;
	margin-right: auto;
	line-height: 1px;
}

.right {
	text-align: right;
}

.product {
	font-size: small;
	vertical-align: bottom;
	text-align: left;
	
}

.oneitem {
	border-style: solid;
	padding: 5px;
}

body {
	margin: 0;
	font-family: calibri, monospace;
	background-color: #F0EDD5;
}

.error {
	color: red;
	font-weight: bold;
	font-family: roboto, sans-serif;

}
/* CSS for Image placement */
/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* CSS for dynamic placement*/
[class*="col-"] {
	width: 100%;
	flex-wrap: wrap;
	
}

@media only screen and (min-width: 450px) {
	.col-1 {
		width: 8.33%;
		flex-wrap: wrap;
		
	}
	.col-2 {
		width: 16.66%;
		flex-wrap: wrap;
		
	}
	.col-3 {
		width: 25%;
		flex-wrap: wrap;
	
	}
	.col-4 {
		width: 33.33%;
		flex-wrap: wrap;
		
	}
	.col-5 {
		width: 41.66%;
		flex-wrap: wrap;
		
	}
	.col-6 {
		width: 50%;
		flex-wrap: wrap;
		
	}
	.col-7 {
		width: 58.33%;
		flex-wrap: wrap;
		
	}
	.col-8 {
		width: 66.66%;
		flex-wrap: wrap;
		
	}
	.col-9 {
		width: 75%;
		flex-wrap: wrap;
		
	}
	.col-10 {
		width: 83.33%;
		flex-wrap: wrap;
		
	}
	.col-11 {
		width: 91.66%;
		flex-wrap: wrap;
		
	}
	.col-12 {
		width: 100%;
		flex-wrap: wrap;
		
	}
}

[class*="col-"] {
  float: left;
}
.row::after{
	content: "";
	clear: both;
	display: table;
}
